/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color:#b2bec3 ;
}
*, ::after, ::before { box-sizing: inherit; }

h1 {
    font-size: 36px;
    font-weight: bold;color:#d63031;    

}


.container {
    
    width: 550px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: solid 3px; border-color: white;
    border-radius: 10px;
   padding: 30px;

   
}



.twitter {
    
    display: block;
    width: auto;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 1px; border: solid; 
    border-radius: 5px;
    background-color: #1da1f2; 
    text-align: center;
    font-variant: small-caps;
    padding: 10px;
}

.fb {

    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 1px; border: solid;
    border-radius: 5px;
    background-color: #3b5998 ;
    text-align: center;
    font-variant: small-caps;
    padding: 10px;
}


.fotka {

    width: 150px;
    border: solid 3px;
    border-color: white;
    border-radius: 50%;
    position: relative;
    bottom: 600px;
    left: 900px;
    box-shadow: inset;
}





/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

